@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;

.landing-page {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  animation: fadeIn 500ms ease-in-out;

  h1 {
    font-family: map-get($font-title-black, font-family);
    font-weight: map-get($font-title-black, font-weight);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: map-get($font-text-light, font-family);
    font-weight: map-get($font-text-light, font-weight);

    label {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    input {
      border: none;
      border-radius: 8px;
      padding: 0.75rem 1.75rem;
      margin-top: 0.25rem;
      font-size: 1.25rem;

      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      outline: none;
    }
    select {
      border: none;
      border-radius: 8px;
      padding: 0.75rem 1.75rem;
      margin-top: 0.25rem;
      font-size: 1.25rem;

      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      outline: none;
    }
  }
}
