.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95vw;
  height: 95vh;
  background-color: #ecf0f1;
  padding: 2rem;
  border-radius: 0.8rem;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #2c3e50;
    text-align: center;
  }
}
